<div class="container-fluid footer">
    <div class="row">
        <div class="col-lg-6">
            <h1>Jenice Edmonds-McDaniel</h1>
            <p>Software Engineer, Certified Scrum Master, Certified Software Tester</p>
        </div>
        <div class="col-lg-4">
            <a routerLink="">Home</a>
            <a routerLink="projects">Projects</a>
            <a routerLink="about">About</a>
            <a routerLink="contacts">Contact Me</a>
        </div>
        <div class="col-lg-2">
            <a href="#" target="_blank"><i class= "bi bi-facebook"></i></a>
            <a href="https://www.linkedin.com/in/jeniceedmonds/" target="_blank"><i class= "bi bi-linkedin"></i></a>
            <a href="https://github.com/JeniceJinx" target="_blank"><i class= "bi bi-github"></i></a>
            <a href="https://twitter.com/JeniceEdmondsIT" target="_blank"><i class= "bi bi-twitter"></i></a>
        </div>

    </div>
</div>
